<div class="top-bar">
  <div class="top-bar-title">GGC Admin area</div>

  <div class="top-bar-left">
    <ul class="menu">
      <li class="admin-menu"><a (click)="chooseMode('add')">Add Post</a></li>
      <li *ngIf="menuChoice" class="admin-menu"><a (click)="chooseMode('')">Manage Blog</a></li>
      <li [class]="admin-menu"><a [routerLink]="['/admin']">Back to Admin</a></li>
    </ul>
  </div>

  <div *ngIf="currentUser" class="top-bar-right">
    <ul class="menu">
      <li class="admin-menu"><a (click)="logout()">Logout</a></li>
      <li class="admin-menu"><a>{{currentUser.email}} Logged In</a></li>
    </ul>
  </div>
</div>

<div [ngSwitch]="menuChoice">
  <div *ngSwitchCase="'add'">
    <blog-menu></blog-menu>
  </div>
  <div *ngSwitchDefault>
    <div *ngIf="formDisplay" class="row">
      <div class="row small-12" *ngFor="let post of blogPosts">
        <div class="row spacer">
          <div class="media-object">
            <div class="media-object-section">
              <div class="align-self-middle">
                <img class="mini-img" [src]="post.img">
              </div>
            </div>
            <div class="media-object-section main-section">
              <h4>{{post.title}}</h4>
              <p>{{post.content | truncate:140}}</p>
              <div class="button-group align-center">
                <button class="button" (click)="editPost(post)">Edit</button>
                <button class="button alert" (click)="deletePost(post)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!formDisplay" class="row">
      <form (ngSubmit)="updatePost(singlePost)" #blogForm="ngForm" class="small-12">
        <div class="row">
          <div class="small-12">
            <h3>Edit Post</h3>
          </div>
        </div>

        <div class="row">
          <div class="small-12">
            <label>Post Title
              <input type="text" [(ngModel)]="singlePost.title" name="editTitle" required #psTitle="ngModel">
              <div [hidden]="psTitle.valid || psTitle.pristine" class="alert callout">
                Blog Title is required
              </div>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-12 large-6">
            <label>Post Content
              <textarea rows="15" id="content" [(ngModel)]="singlePost.content" name="editContent" required #psContent="ngModel"></textarea>
              <div [hidden]="psContent.valid || psContent.pristine" class="alert callout">
                Blog Content is required
              </div>
            </label>
          </div>
          <div class="large-6">
            <img [src]="singlePost.img" alt="Image preview...">
          </div>
        </div>

        <div class="row align-center">
          <div class="small-12">
            <div class="expanded button-group">
              <button type="submit" class="button success" [disabled]="!blogForm.form.valid">Update Post</button>
              <button type="button" class="button cancel" (click)="cancelEdit()">Cancel Edit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
