<div class="row">
    <div class="small-12 medium-6 columns">
        <h1>Add a Post</h1>
    </div>
</div>

<form (ngSubmit)="createPost()" #blogAddForm="ngForm">
    <div class="row" *ngIf="displayMessage">
      <div class="small-12">
        <div>
          {{response.message}}
        </div>
      </div>
    </div>

    <div class="row">
        <div class="small-12 medium-6 columns">
            <label>Post Title
                <input type="text" id="postTitle" [(ngModel)]="postTitle" name="postTitle" required #psTitle="ngModel">
                <div [hidden]="psTitle.valid || psTitle.pristine" class="alert callout">
                    Blog Title is required
                </div>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-6 columns">
            <label>Post Content
                <textarea rows="15" id="content" [(ngModel)]="content" name="content" required #psContent="ngModel"></textarea>
                <div [hidden]="psContent.valid || psContent.pristine" class="alert callout">
                    Blog Content is required
                </div>
            </label>
        </div>
        <div class="small-12 medium-6 columns">
            <input type="file" (change)="fileLoad($event)"><br>
            <img *ngIf="imageSrc" [src]="imageSrc" alt="Image preview...">
        </div>
    </div>

    <div class="row align-center">
        <div class="small-12 medium-6 columns">
            <div class="expanded button-group">
                <button class="success button" type="submit" [disabled]="!psTitle.valid || !psContent.valid">Create Post</button>
                <button class="cancel button" type="button" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>

</form>
